---
import { Image, getImage } from 'astro:assets';
import { Icon } from "astro-icon";
import Flash from '../common/Flash.astro';
import kidHatImage from "../../images/kid-hat.png";
import berlinLogoImage from "../../icons/berlin-logo.svg";
import jugendamtLogoImage from "../../images/jugendamt-logo.png";
import patternImage from "../../icons/wave-pattern.svg";

const optimizedPatternImage = await getImage({ src: patternImage });
---

<section>
    <div class="grid">
        <div class="wallpaper" style={`background-image: url('${optimizedPatternImage.src}')`}/>
        <div class="big-img-container">
            <Icon class="cert-icon" name="certificate"/>
            <Image
                src={kidHatImage}
                alt="Junges Mädchen mit pinkem Strickhut lächelt"
                height={550}
            />
        </div>
        <div class="quote" data-aos="zoom-in">
            <blockquote>
                Dass Kinder und Eltern sich bei uns wohlfühlen,
                ist mir eine Herzens&shy;ange&shy;legenheit.
            </blockquote>
        </div>
    </div>
    <hr>
    <Flash class="flash"/>
    <div class="logos">
        <Image class="jugendamt-logo" src={jugendamtLogoImage} alt="Jugendamt Pankow Logo"/>
        <Image class="berlin-logo" src={berlinLogoImage} alt="Berlin Logo"/>
    </div>
</section>

<style lang="scss">
    .grid {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        gap: 2rem;
        position: relative;

        @media (max-width: $sm) {
            grid-template-columns: 1fr;
        }
    }

    .big-img-container {
        align-self: flex-end;
        position: relative;

        @media (max-width: $sm) {
            order: 2;
        }
        
        img {
            display: block;
            object-fit: contain;
            max-width: 100%;
            max-height: 100%;
            height: auto;
        }
    }

    .quote {
        margin: 0 auto;
        margin-bottom: 4rem;
        z-index: 1;
        
        blockquote {
            margin: 0;
            padding: 0;
            font-size: 2rem;
            max-width: 450px;
    
            @media (max-width: $sm) {
                text-align: center;
                font-size: 1.5rem;
            }
        }

        img {
            display: block;
            border-radius: 1000px;
            border: 2px solid white;
            box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px -1px rgba(0,0,0,.1);
            margin-top: 2rem;

            @media (max-width: $sm) {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    .cert-icon {
        position: absolute;
        top: 0;
        right: 0;
        width: 120px;
        height: auto;
        mask-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.55), black);
        color: #817a6b;

        @media (max-width: $sm) {
            width: 100px;
        }
    }

    .logos {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
        margin-top: max(-70px, -16vw);
        opacity: .7;
        
        img {
            width: auto;
            max-height: 13vw;
            
            &.berlin-logo {
                height: 50px;
            }
            &.jugendamt-logo {
                height: 70px;
            }
        }
    }

    .wallpaper {
        position: absolute;
        inset: 0;
        mask-image: radial-gradient(at 40% 100%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 70%);
        width: 100vw;
        margin-left: 50%;
        transform: translate(-50%);
    }

    hr {
        background-color: rgb(var(--card-background));
        border: 0;
        height: 1px;
        margin: 0;
        width: 100vw;
        margin-left: 50%;
        transform: translate(-50%);
    }

    .flash {
        margin-left: 50%;
    }
</style>