---
import { Image, getImage } from "astro:assets";
import { Icon } from "astro-icon";
import kidForestImage from "../../images/kid-forest.jpg";
import kidReadingImage from "../../images/kid-reading.jpg";
import patternImage from "../../icons/wave-pattern.svg";

const optimizedPatternImage = await getImage({ src: patternImage });
---

<section>
    <Icon class="background-flowers" name="flowers"/>
    <div class="card">
        <div class="text" data-aos="fade-left">
            <h2 class="accent-alt"><span class="small">Jede Menge</span> Frische Luft</h2>
            <p>
                Täglich sind wir an der frischen Luft, beobachten die 
                Natur in ihrer Vielfältigkeit und besuchen die 
                Spielplätze in der Umgebung. Bewegung wird bei uns 
                großgeschrieben.
            </p>
        </div>
        <picture class="top">
            <Image src={kidForestImage} alt="Kind spielt auf Wiese"/>
        </picture>
    </div>
    <div class="card" style={`background-image: url('${optimizedPatternImage.src}')`}>
        <picture class="bottom">
            <Image src={kidReadingImage} alt="Kind ließt ein Buch"/>
        </picture>
        <div class="text" data-aos="fade-right">
            <h2 class="accent"><span class="small">Umfangreicher</span> Spieleschatz</h2>
            <p>
                Wir haben ein kindgerechtes, farbenfrohes Spielzimmer 
                mit Kletterhäuschen, Kuschelmatratze und vielen 
                Bewegungsmöglichkeiten. Spannende Spielelemente, 
                wie die große Holzeisenbahn, die Murmelbahn, jede 
                Menge Bausteine, Autos, Bücher, Spiele, Handpuppen, 
                einfache Musikinstrumente u.s.w. wecken die kreative 
                Neugier der Kinder.
            </p>
        </div>
    </div>
</section>

<style lang="scss">
    section {
        position: relative;
    }

    .card {
        display: flex;
        gap: 60px;
        flex-wrap: wrap-reverse;
        justify-content: center;
        @include QuadGradientBackground();
        border-radius: 20px;
        padding: 60px min(50px, 3vw);
        min-height: 260px;

        @media (max-width: $sm) {
            margin-left: calc(var(--page-padding) * -1);
            margin-right: calc(var(--page-padding) * -1);
            padding-left: var(--page-padding);
            padding-right: var(--page-padding);

            &:not(:last-child) {
                padding-bottom: 160px;
            }

            &:last-child {
                flex-wrap: wrap;

                picture.bottom {
                    margin-top: -164px;
                    margin-bottom: 0;
                }
            }
        }

        @media (min-width: $sm + 1px) {
            &:not(:last-child) {
                margin-bottom: 40px;
            }
        }
        
        .text {
            flex: 6;
            margin: auto 0;
            min-width: min(300px, 100%);
            position: relative;

            & > :first-child {
                margin-top: 0;
            }
            & > :last-child {
                margin-bottom: 0;
            }
        }

        picture {
            max-width: 424px;
            max-height: 424px;
            border-radius: 1000px;
            position: relative;

            &.top {
                margin-top: -164px;
            }
            &.bottom {
                margin-bottom: -164px;
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                width: 100%;
                aspect-ratio: 1 / 1;
                box-shadow: rgba(var(--card-background-dark), .4) 0 0 100px;
                mix-blend-mode: difference;
                border-radius: 1000px;
            }

            img {
                width: 100%;
                height: auto;
                border-radius: 1000px;
            }
        }

        h2 {
            text-transform: none;
            margin-bottom: 2rem;

            &.accent {
                color: rgb(var(--accent-color));
            }
            &.accent-alt {
                color: rgb(var(--accent-color-alt));
            }
        }
    }

    .background-flowers {
        position: absolute;
        top: -230px;
        right: -50px;
        width: 560px;
        z-index: -2;
    }
</style>