---
import { Icon } from "astro-icon";
import loverImage from "../../images/lover.png";
import professorImage from "../../images/professor.png";
import travelerImage from "../../images/traveler.png";
import Flare from "../common/Flare.astro";
import Testimonial from "../common/Testimonial.astro";
---

<section>
    <Icon class="background-curve" name="curve" />
    <div class="contact">
        <div class="flares">
            <Flare color="yellow" width="1200px" height="970px" x="20%" y="10%"/>
            <Flare color="blue" width="970px" height="1200px" x="50%" y="80%"/>
        </div>
        <h2><span class="small">Habe ich Ihr</span> Interesse geweckt?</h2>
        <p>
            Schreiben Sie mir.<br>
            <a href="">steffis.kruemelkiste@gmail.com</a>
        </p>
        <p>
            Oder rufen Sie mich an.<br>
            <a href="">030 / 92 40 94 42</a>
        </p>
        <p>
            Ich freue mich auf Ihre Nachricht.
            Anrufe innerhalb der Woche sind 
            am besten zur Mittagszeit möglich.
        </p>
    </div>
    <div class="testimonials">
        <Testimonial author="Jenny" image={travelerImage} imageAlt="Glückliche Frau">
            Ich bin sehr froh, dass du meine beiden 
            Jungs in den ersten Jahren begleitet hast 
            und noch begleitest. Ich könnte mir keine 
            bessere Betreuung vorstellen.
        </Testimonial>
        <Testimonial author="Boris und Sigrid" image={loverImage} imageAlt="Glückliches Paar">
            Für uns Eltern ist es natürlich herrlich, 
            wenn Magda Tag für Tag voller Freude zu 
            Euch geht, ja: sogar "zu Effi!!!" einfordert.
            Wir geben sie mit einem rundum guten 
            Gefühl zu Euch. Jetzt ist Magda schon seit 
            einem Jahr bei Euch, ein weiteres liegt 
            noch vor ihr. Um diese zwei Jahre sind wir 
            so froh! Ganz gewiss wird sie von der Zeit, 
            die sie bei Euch verbringt, gestärkt ins 
            weitere Leben gehen.
        </Testimonial>
        <Testimonial author="Reinhold" image={professorImage} imageAlt="Zufriedener älterer Herr">
            Ich bin sehr froh und beruhigt, dass meine 
            Enkelin Anouari bei Ihnen in der 
            Tagespflege ist. Da stimmt einfach alles! 
            Super Atmosphäre, nette Leute, 
            ausgezeichnete Pflege und Betreuung, 
            einfach rundum gut. Besser hätte sie es 
            nicht treffen können.
        </Testimonial>
    </div>
</section>

<style lang="scss">
    section {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 40px;
        position: relative;
        margin-top: -4rem;

        --curve-distance: -300px;
    }

    .contact {
        max-width: 400px;
        position: relative;
    }

    .testimonials {
        max-width: 500px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin: 80px 0;
    }

    .background-curve {
        position: absolute;
        right: var(--curve-distance);
        height: 100%;
        width: auto;
        color: var(--footer-background);
        z-index: -1;
    }

    section::before {
        content: "";
        position: absolute;
        top: 0;
        right: calc(var(--curve-distance) + 1px);
        transform: translate(100%, 0);
        height: 100%;
        width: calc(50vw - (var(--content-max-width) / 2) + var(--curve-distance));
        background: var(--footer-background);
        z-index: -1;
    }

    .flares {
        position: absolute;
        inset: 0;
        opacity: .35;
        z-index: -1;
        display: grid;
        grid-template-areas: "overlay";

        :global(*) {
            grid-area: overlay;
        }
    }
</style>