---
import { getImage , Image } from 'astro:assets';
import { Icon } from "astro-icon";
import spoonImage from "../../images/spoon.png";
import ingredientsImage from "../../images/ingredients.png";
import childishWallpaperImage from "../../icons/childish-wallpaper.svg";
import Flare from '../common/Flare.astro';

const optimizedWallpaperImage = await getImage({ src: childishWallpaperImage });
---

<section>
    <div class="flares">
        <Flare color="yellow" width="1400px" height="1000px" x="60%" y="40%"/>
        <Flare color="orange" width="1400px" height="800px" x="55%" y="70%"/>
        <Flare color="blue" width="1000px" height="1200px" x="35%" y="40%"/>
    </div>
    <div class="wallpaper" style={`background-image: url('${optimizedWallpaperImage.src}')`}/>
    <div class="spoon-container">
        <Icon
            class="sprinkles"
            name="spoon-sprinkles"
            data-aos="zoom-in"
            data-aos-anchor=".ingredients"
            data-aos-delay="200"
        />
        <Image class="spoon" src={spoonImage} alt="Holzlöffel" width={290}/>
        <Icon class="bow" name="spoon-bow" data-aos="zoom-in" data-aos-anchor=".ingredients"/>
    </div>
    <div class="text">
        <h2><span class="small">Jeden Tag</span> Selbstgekochte Mahlzeiten</h2>
        <p>
            Ich achte auf eine gesunde und
            ausgewogene Ernährung und
            koche deshalb täglich
            frisches Essen. 
        </p>
    </div>
    <Image class="ingredients" src={ingredientsImage} alt="Tomaten, Basilikum und Pfefferkürner"/>
</section>

<style lang="scss">
    section {
        display: flex;
        gap: 40px;
        justify-content: space-evenly;
        position: relative;
        margin-top: -4rem;

        @media (max-width: 800px) {
            flex-direction: column;
        }
    }

    .spoon-container {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        width: min(383px, 50%);
        object-fit: contain;

        @media (max-width: 800px) {
            display: none;
        }

        .sprinkles {
            max-height: 102px;
            margin-bottom: -50px;
            filter: drop-shadow(0 5px 5px rgba(var(--text-color), .25));
        }

        .spoon {
            width: min(290px, 100%);
            height: auto;
            filter: saturate(80%);
            grid-row: 2;
            grid-column: 1;
        }

        .bow {
            grid-row: 2;
            grid-column: 1;
            margin: auto;
            filter: drop-shadow(0 5px 5px rgba(var(--text-color), .25));
            z-index: 1;
        }
    }

    .text {
        max-width: 500px;
        margin-top: 20%;
        margin-right: 10%;

        @media (max-width: 800px) {
            max-width: min(400px, 90%);
            align-self: center;
        }

        p {
            max-width: 400px;

            @media (max-width: $sm) {
                max-width: max(200px, 70%);
            }
        }
    }

    .ingredients {
        position: absolute;
        bottom: 0;
        right: 0;
        width: min(654px, 60%);
        height: auto;
        min-width: 300px;
        z-index: -1;

        @media (max-width: 800px) {
            position: static;
            width: min(500px, 100%);
            margin-left: auto;
            margin-top: -150px;
        }
    }

    .flares {
        @include FlareContainer();
        opacity: .5;
    }

    .wallpaper {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: 243px 200px;
        mix-blend-mode: multiply;
        mask-image: radial-gradient(rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0));
        opacity: .35;
        z-index: -1;
    }
</style>