---
import { getImage , Image } from 'astro:assets';
import spoonImage from "../../images/spoon.png";
import ingredientsImage from "../../images/ingredients.png";
import childishWallpaperImage from "../../images/childish-wallpaper.svg";
import SVG from '../common/SVG.astro';
import Flare from '../common/Flare.astro';

const optimizedWallpaperImage = await getImage({ src: childishWallpaperImage });
---

<section>
    <div class="flares">
        <Flare color="yellow" width="1500px" height="1200px" top="-100px" right="-100px"/>
        <Flare color="orange" width="1500px" height="700px" bottom="0" right="0"/>
        <Flare color="blue" width="970px" height="1180px" top="-150px" left="-150px"/>
    </div>
    <div class="spoon-container">
        <SVG class="sprinkles" fileName="spoon-sprinkles"/>
        <Image class="spoon" src={spoonImage} alt="Holzlöffel" width={290}/>
        <SVG class="bow" fileName="spoon-bow"/>
    </div>
    <div class="text">
        <h2><span class="small">Jeden Tag</span> Selbstgekochte Mahlzeiten</h2>
        <p>
            Ich achte auf eine gesunde und
            ausgewogene Ernährung und
            koche deshalb täglich
            frisches Essen. 
        </p>
    </div>
    <Image class="ingredients" src={ingredientsImage} alt="Tomaten, Basilikum und Pfefferkürner"/>
    <div class="wallpaper" style={`background-image: url('${optimizedWallpaperImage.src}')`}/>
</section>

<style lang="scss">
    section {
        display: flex;
        gap: 40px;
        justify-content: space-evenly;
        position: relative;
    }

    .spoon-container {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;

        .sprinkles {
            height: 102px;
            margin-bottom: -50px;
        }

        .spoon {
            filter: saturate(80%);
            grid-row: 2;
            grid-column: 1;
        }

        .bow {
            width: 383px;
            grid-row: 2;
            grid-column: 1;
            z-index: 1;
        }
    }

    .text {
        max-width: 500px;
        margin-top: 15%;
        margin-right: 10%;

        p {
            font-size: 1.35rem;
            max-width: 400px;
            margin-top: 6rem;
        }
    }

    .ingredients {
        position: absolute;
        bottom: 0;
        right: 0; 
    }

    .flares {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        opacity: .75;
    }

    .wallpaper {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: 243px 200px;
        mix-blend-mode: multiply;
        -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0));
        opacity: .35;
        z-index: -1;
    }
</style>