---
import { Image } from 'astro:assets';
import groupImage from "../../icons/steffi-group.svg";

const baseUrl = import.meta.env.BASE_URL;
---

<footer>
    <Image src={groupImage} alt="Steffi und Kinder spazieren fröhlich"/>
    <div class="text">
        <h2>Kontakt</h2>
        <p>
            Steffi Rühl<br>
            Gounodstraße 101<br>
            13088 Berlin<br>
            <br>
            steffis.kruemelkiste@gmail.com<br>
            Tel.: 030 / 92 40 94 42<br>
        </p>
        <h2>Über diese Webseite
        </h2>
        <a href=`${baseUrl}/impressum/`>Impressum & Datenschutz</a>
        <p>
            Texte von Steffi Rühl<br>
            Webdesign und technische Umsetzung von Benjamin Rühl<br>
            Illustration von Nathalie Rühl<br>
            © Copyright - Steffis Krümelkiste<br>
        </p>
    </div>
</footer>

<style lang="scss">
    footer {
        display: flex;
        justify-content: space-around;
        gap: 30px;
        flex-wrap: wrap;
        padding: 100px 0;
        position: relative;

        @media (max-width: $sm) {
            padding: 20px 0;
            gap: 0;
            text-align: center;
        }

        &:before {
            content:"";
            background: var(--footer-background);
            position: absolute;
            top: -1px;
            bottom: 0;
            width: 100vw;
            z-index: -1;
        }
    }

    img {
        max-width: 430px;
        min-width: 0;
        height: auto;

        @media (max-width: $sm) {
            transform: translateX(-15%);
        }
    }

    h2 {
        font-size: 1.5rem;
        font-weight: 600;
        color: rgb(var(--text-color));
        margin-top: 4rem;
    }

    .text {
        min-width: 0;
    }
</style>