---
import { Image } from 'astro:assets';
import { Icon } from "astro-icon";
import kidHappyCroppedImage from "../../images/kid-happy-cropped.png";
import kidToysImage from "../../images/kid-toys.jpg";
import kidAutumnImage from "../../images/kid-autumn.jpg";
import kidsCartImage from "../../images/kids-cart.jpg";
import Goo from "../common/Goo.astro";
import ImageText from '../common/ImageText.astro';
import Flare from '../common/Flare.astro';
---

<section>
    <div class="box">
        <Icon class="corner" name="corner-l"/>
        <h2>
            <ImageText>
                Kinderbetreuung.<br>Familiär und individuell.
            </ImageText>
        </h2>
        <div class="feature" data-aos="fade-left">
            <h3>
                <Goo>
                    Kleine Gruppe
                </Goo>
            </h3>
            <p>
                <Goo>
                    Meine Gruppe besteht aus fünf Kindern im Alter von 1 bis 3 Jahren.
                </Goo>
            </p>
        </div>
        <div class="feature" data-aos="fade-right">
            <h3>
                <Goo>
                    Familiennahe Betreuung
                </Goo>
            </h3>
            <p>
                <Goo>
                    Die Kinder werden wie als Teil der Familie aufgenommen und dabei liebevoll betreut.
                </Goo>
            </p>
        </div>
        <div class="feature" data-aos="fade-left">
            <h3>
                <Goo>
                    Individuelle Förderung
                </Goo>
            </h3>
            <p>
                <Goo>
                    Jedes Kind wird entsprechend seines Alters und seines Entwicklungsstandes individuell gefördert.
                </Goo>
            </p>
        </div>
        <Icon class="image sun" name="sun"/>
        <Image class="image" src={kidHappyCroppedImage} alt="Mädchen lächelt"/>
    </div>
    <div class="bottom-row">
        <div class="text" data-aos="fade-left">
            <div class="flares">
                <Flare color="yellow" width="1400px" height="1000px" x="0%" y="40%"/>
                <Flare color="orange" width="1400px" height="800px" x="70%" y="90%"/>
            </div>
            <h3>Spiel, Spaß und Kreativität</h3>
            <p>
                Es wird gespielt, gemalt, gebastelt und mehr. Ich gehe auf Interessen und Ideen der Kinder ein und entwickle sie mit ihnen weiter. 
            </p>
        </div>
        <div class="images image-group">
            <div class="card" data-aos="fade-up" data-aos-offset="300">
                <Image class="flip" src={kidAutumnImage} alt="Kleinkind sitzt auf Herbstlaub"/>
            </div>
            <div class="card" data-aos="fade-up" data-aos-offset="300" data-aos-delay="100">
                <Image class="flip" src={kidToysImage} alt="Junge spielt mit Spielzeugautos"/>
            </div>
        </div>
    </div>
    <div class="bottom-row">
        <div class="flares">
            <Flare color="yellow" width="1000px" height="1000px" x="70%" y="80%"/>
            <Flare color="orange" width="1400px" height="800px" x="80%" y="15%"/>
            <Flare color="blue" width="1400px" height="1000px" x="30%" y="90%"/>
        </div>
        <div class="images">
            <div class="card big-card">
                <Image src={kidsCartImage} alt="Kinder sitzen im Holzwagen"/>
            </div>
            <Icon class="corner" name="corner-s"/>
            <div class="time">
                <ImageText>
                    <h4>Betreuungszeiten</h4>
                    <div class="time-value">8:00 - 16:00</div>
                    <div class="day-value">Montags - Freitags</div>
                </ImageText>
            </div>
        </div>
        <div class="text" data-aos="fade-right">
            <h3>Faires, freundliches Miteinander</h3>
            <p>
                Der richtige Umgang mit anderen Kindern muss erst erlernt werden. Hierbei werden behutsam soziale Werte vermittelt.
            </p>
        </div>
    </div>
</section>

<style lang="scss">
    @mixin QuadVertexColors($v0, $v1, $v2, $v3) {
        background: linear-gradient(to bottom, $v0, $v2);
        position: relative;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(to bottom, $v1, $v3);
            mask-image: linear-gradient(to left, white, transparent);
            border-radius: inherit;
        }
    }

    .box {
        display: grid;
        grid-template-columns: 1fr auto;
        @include QuadVertexColors(
            rgba(var(--flare-orange), .1),
            rgba(var(--flare-yellow), .1),
            rgba(var(--flare-yellow), .1),
            rgba(var(--flare-blue), .1)
        );
        border-radius: 50px;
        padding: 50px;
        padding-bottom: 0;
        min-height: 45rem;
        position: relative;

        h2 {
            grid-column: span 2;
            text-transform: none;
            line-height: 1.2;
            margin-top: -9.5rem;
            z-index: 1;
        }

        p {
            line-height: 1.6;
        }

        .feature {
            max-width: 300px;

            &*:first-child {
                margin-top: 0;
            }

            &*:last-child {
                margin-bottom: 0;
            }

            h3 {
                line-height: 1.25;
                margin-bottom: 1.75rem;
                color: rgb(var(--accent-color));
            }
        }

        .image {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        .sun {
            color: rgb(var(--flare-orange));
            width: 700px;
            opacity: .1;
            animation: rotate 240s linear infinite;
            transform-origin: 0;
        }

        @keyframes rotate {
            from {
                rotate: 0deg;
            }
            to {
                rotate: 360deg;
            }
        }

        .corner {
            position: absolute;
            top: 0;
            left: 0;
            width: 45rem;
        }
    }

    .bottom-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px;
        position: relative;

        &:not(:last-child) {
            margin-bottom: 150px;
        }
        
        .images {
            display: flex;
            z-index: 1;
            position: relative;

            .card {
                border-radius: 50px;
                width: 300px;
                height: 400px;
                overflow: hidden;

                &.big-card {
                    width: 600px;
                }
        
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .flip {
                    scale: -1 1;
                }
            }

            &.image-group {
                margin-top: -50px;

                .card {
                    border: 10px solid white;

                    &:first-child {
                        border-radius: 50px 0 0 50px;
                    }
                    &:last-child {
                        border-radius: 0 50px 50px 0;
                        border-left-width: 0;
                    }
                }
            }

            .corner {
                position: absolute;
                top: 0;
                right: 0;
                width: 15rem;
                scale: -1 1;
            }
        }

        .text {
            max-width: 400px;
            position: relative;

            h3 {
                color: rgb(var(--accent-color));
            }
        }

        .time {
            position: absolute;
            top: 0;
            right: -1rem;
            background: linear-gradient(to bottom, transparent 50%, white 50%);
            border-radius: 18px;
            padding: .5rem 1rem;
            transform: translateY(-50%);

            * {
                margin: 0;
            }

            .time-value {
                font-family: Dosis;
                font-size: 2.22rem;
            }

            h4 {
                font-weight: normal;
                font-size: 1.2rem;
            }
        }

        .flares {
            position: absolute;
            inset: 0;
            z-index: -1;
            opacity: .35;
            display: grid;
            grid-template-areas: "overlay";

            :global(*) {
                grid-area: overlay;
            }
        }
    }
</style>