---
import { Image } from 'astro:assets';
import { Icon } from "astro-icon";
import kidHappyCroppedImage from "../../images/kid-happy-cropped.png";
import kidToysImage from "../../images/kid-toys.jpg";
import kidAutumnImage from "../../images/kid-autumn.jpg";
import Goo from "../common/Goo.astro";
import ImageText from '../common/ImageText.astro';
import Flare from '../common/Flare.astro';
---

<section>
    <div class="box">
        <Icon class="corner" name="corner"/>
        <h2>
            <ImageText>
                Kinderbetreuung.<br>Familiär und individuell.
            </ImageText>
        </h2>
        <div class="feature" data-aos="fade-left">
            <h3>
                <Goo>
                    Kleine Gruppe
                </Goo>
            </h3>
            <p>
                <Goo>
                    Meine Gruppe besteht aus fünf Kindern im Alter von 1 bis 3 Jahren.
                </Goo>
            </p>
        </div>
        <div class="feature" data-aos="fade-right">
            <h3>
                <Goo>
                    Familiennahe Betreuung
                </Goo>
            </h3>
            <p>
                <Goo>
                    Die Kinder werden wie als Teil der Familie aufgenommen und dabei liebevoll betreut.
                </Goo>
            </p>
        </div>
        <div class="feature" data-aos="fade-left">
            <h3>
                <Goo>
                    Individuelle Förderung
                </Goo>
            </h3>
            <p>
                <Goo>
                    Jedes Kind wird entsprechend seines Alters und seines Entwicklungsstandes individuell gefördert.
                </Goo>
            </p>
        </div>
        <Icon class="image sun" name="sun"/>
        <Image class="image" src={kidHappyCroppedImage} alt="Mädchen lächelt"/>
    </div>
    <div class="creativity">
        <div class="text">
            <div class="flares">
                <Flare color="yellow" width="1400px" height="1000px" x="0%" y="40%"/>
                <Flare color="orange" width="1400px" height="800px" x="55%" y="80%"/>
                <Flare color="blue" width="800px" height="1000px" x="100%" y="50%"/>
            </div>
            <h3>Spiel, Spaß und Kreativität</h3>
            <p>
                Es wird gespielt, gemalt, gebastelt und mehr. Ich gehe auf Interessen und Ideen der Kinder ein und entwickle sie mit ihnen weiter. 
            </p>
        </div>
        <div class="images" data-aos="fade-up" data-aos-offset="300">
            <div class="card">
                <Image src={kidAutumnImage} alt="Kleinkind sitzt auf Herbstlaub"/>
            </div>
            <div class="card">
                <Image src={kidToysImage} alt="Junge spielt mit Spielzeugautos"/>
            </div>
        </div>
    </div>
</section>

<style lang="scss">
    @mixin QuadVertexColors($v0, $v1, $v2, $v3) {
        background: linear-gradient(to bottom, $v0, $v2);
        position: relative;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(to bottom, $v1, $v3);
            mask-image: linear-gradient(to left, white, transparent);
            border-radius: inherit;
        }
    }

    .box {
        display: grid;
        grid-template-columns: 1fr auto;
        @include QuadVertexColors(
            rgba(var(--flare-orange), .1),
            rgba(var(--flare-yellow), .1),
            rgba(var(--flare-yellow), .1),
            rgba(var(--flare-blue), .1)
        );
        border-radius: 50px;
        padding: 50px;
        padding-bottom: 0;
        min-height: 45rem;
        position: relative;

        h2 {
            grid-column: span 2;
            text-transform: none;
            line-height: 1.2;
            margin-top: -9.5rem;
            z-index: 1;
        }

        p {
            line-height: 1.6;
        }

        .feature {
            max-width: 300px;

            &*:first-child {
                margin-top: 0;
            }

            &*:last-child {
                margin-bottom: 0;
            }

            h3 {
                line-height: 1.25;
                margin-bottom: 1.75rem;
                color: rgb(var(--accent-color));
            }
        }

        .image {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        .sun {
            color: rgb(var(--flare-orange));
            width: 700px;
            opacity: .1;
            animation: rotate 240s linear infinite;
            transform-origin: 0;
        }

        @keyframes rotate {
            from {
                rotate: 0deg;
            }
            to {
                rotate: 360deg;
            }
        }

        .corner {
            position: absolute;
            top: 0;
            left: 0;
            width: 45rem;
        }
    }

    .creativity {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px;
        
        .images {
            margin-top: -50px;
            display: flex;
            gap: 10px;
            background: white;
            border-radius: 55px;
            padding: 10px;
            z-index: 1;

            .card {
                border-radius: 50px;
                width: 300px;
                height: 400px;
                overflow: hidden;
        
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    scale: -1 1;
                }
            }
        }

        .text {
            max-width: 400px;
            position: relative;

            h3 {
                color: rgb(var(--accent-color));
            }

            .flares {
                position: absolute;
                inset: 0;
                z-index: -1;
                opacity: .35;
                display: grid;
                grid-template-areas: "overlay";

                :global(*) {
                    grid-area: overlay;
                }
            }
        }
    }
</style>