---
import { Icon } from "astro-icon";
import Flare from '../common/Flare.astro';

const features = [
    {
        title: "Individuelle Betreuung",
        description: "Meine Gruppe besteht aus nur 5 Kindern. Dadurch kann ich auf die Bedürfnisse jedes einzelnen genau eingehen."
    },
    {
        title: "Feste Bezugsperson",
        description: "Im Gegensatz zur Kita bleibt die Bezugsperson bei mir immer gleich. Vielen Kindern fällt es so leichter, Vertrauen aufzubauen."
    },
    {
        title: "Enger Kontakt zu Eltern"
    },
    {
        title: "Familiäres Umfeld"
    },
    {
        title: "Behutsame Eingewöhnung"
    },
    {
        title: "Keine Mehrkosten",
        description: "Keine Mehrkosten gegenüber der Kita. Die Finanzierung wird vom Jugendamt übernommen."
    },
    {
        title: "Enger Kontakt zu Eltern"
    },
    {
        title: "Kleine Gruppe"
    },
]
---

<section>
    <div class="container">
        <div class="title">
            <h2><span class="accent">Kindertagespflege</span> oder Kita?</h2>
            <p>
                Wenn ihr für euer Kind eine wirklich persönliche, familiäre Betreuung sucht
                – ein Nest, in dem es stark wird für die Welt – dann seid ihr bei uns richtig. 
            </p>
        </div>
        <div class="core-features">
            <Flare color="yellow" width="2200px" height="1234px" x="40%" y="20%" opacity={.75}/>
            <Flare color="orange" width="700px" height="700px" x="70%" y="15%" opacity={.5}/>
            <Flare color="blue" width="1200px" height="700px" x="65%" y="85%" opacity={.5}/>
            {features.filter(feature => feature.description).map(feature =>
                <div class="card">
                    <h3>{feature.title}</h3>
                    <p>
                        {feature.description}
                    </p>
                </div>
            )}
        </div>
    </div>
    <div class="floating-features">
        {features.map(feature => 
            <div class="feature">
                <Icon class="checkmark" name="sparkle"/>
                {feature.title}
            </div>
        )}
    </div>
</section>

<style lang="scss">
    section { 
        display: grid;
        grid-template-areas: "overlay";
    }

    .container {
        grid-area: overlay;
        padding: 8rem 0;

        @media (max-width: $sm) {
            padding: 12rem 0;
        }
    }
    
    .title {
        max-width: 700px;
        text-align: center;
        margin: auto;

        h2 {
            line-height: 1.2;
            text-transform: none;
            margin-top: 0;
        }

        .accent {
            color: rgb(var(--accent-color));
        }
    }

    .core-features {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        margin-top: 4rem;
        text-align: center;
        position: relative;

        @media (max-width: $sm) {
            grid-template-columns: 1fr;
        }

        .card {
            background: white;
            padding: 1.5rem;
            border-radius: 20px;

            p {
                margin: 0;
            }

            > *:first-child {
                margin-top: 0;
            }
            > *:last-child {
                margin-bottom: 0;
            }
        }

        h3 {
            font-size: 1.5rem;
            color: rgb(var(--accent-color-alt));
        }

        .checkmark {
            height: .9em;
            width: auto;
            margin-right: .5ch;
        }
    }

    .floating-features {
        grid-area: overlay;
        width: 120%;
        margin-left: 50%;
        transform: translate(-50%);
        position: relative;
        pointer-events: none;

        .feature {
            position: absolute;
            padding: 4px 16px;
            border-radius: 100px;
            color: var(--color);
            background-color: var(--background-color);
            white-space: nowrap;
            animation: wiggle 5s infinite ease-in-out reverse;

            &:nth-child(1) {
                top: 0;
                left: 45%;
                --background-color: #ffdbbe;
                --color: #d56000;

                @media (max-width: $sm) {
                    left: 20%;
                }
            }
            &:nth-child(2) {
                top: 15%;
                right: 10%;
                animation-delay: -1.5s;
                --background-color: #f6d0e0;
                --color: #c54d81;

                @media (max-width: $sm) {
                    top: 5%;
                }
            }
            &:nth-child(3) {
                top: 50%;
                right: 0;
                animation-delay: -3s;
                --background-color: #e5c1f8;
                --color: #9d39cf;

                @media (max-width: $sm) {
                    top: 35%;
                    right: 2%;
                }
            }
            &:nth-child(4) {
                bottom: 10%;
                right: 20%;
                animation-delay: -4.5s;
                --background-color: #c8d3f5;
                --color: #2b53cc;
            }
            &:nth-child(5) {
                bottom: 0;
                right: 45%;
                animation-delay: -7s;
                --background-color: #baeae7;
                --color: #109388;

                @media (max-width: $sm) {
                    right: 20%;
                }
            }
            &:nth-child(6) {
                bottom: 15%;
                left: 10%;
                animation-delay: -8.5s;
                --background-color: #c1f1cb;
                --color: #1c9a37;

                @media (max-width: $sm) {
                    bottom: 5%;
                }
            }
            &:nth-child(7) {
                bottom: 45%;
                left: 0;
                animation-delay: -10s;
                --background-color: #d8ebaa;
                --color: #5e8300;

                @media (max-width: $sm) {
                    bottom: 28%;
                    left: 7%;
                }
            }
            &:nth-child(8) {
                top: 10%;
                left: 15%;
                animation-delay: -11.5s;
                --background-color: #ede6a7;
                --color: #978800;
            }
        }

        .checkmark {
            height: 1em;
            width: auto;
            margin-left: -1em;
            transform: scale(1.75) translate(-8px, -4px);
            color: var(--color);
            opacity: .5;
        }

        @keyframes wiggle {
            from {
                translate: 0;
            }
            50% {
                translate: 3% -7%;
            }
            to {
                translate: 0;
            }
        }
    }
</style>