---
import { Image } from 'astro:assets';
import { Icon } from "astro-icon";
import WavyBackground from '../common/WavyBackground.astro';
import Flare from '../common/Flare.astro';
import kidFurImage from "../../images/kid-fur.png";
import balloonImage from "../../images/balloon.png";
---

<section>
    <WavyBackground>
        <div class="flares">
            <Flare color="yellow" width="1600px" height="1100px" x="45%" y="35%"/>
            <Flare color="blue" width="800px" height="700px" x="65%" y="85%"/>
        </div>
        <div class="container">
            <div class="principle">
                <Image
                    class="icon"
                    src={balloonImage}
                    alt="Herzballon"
                    width={130}
                />
                <Icon class="icon" name="sparkle" width={64}/>
                <Icon class="icon" name="star" width={54}/>
                Dass Kinder und Eltern sich bei uns wohlfühlen,
                ist mir eine <br/><strong>Herzens&shy;ange&shy;legenheit.</strong>
            </div>
            <div class="grid">
                <div class="box" data-aos="fade-left">
                    <h3>Kindertagepflege<br/> oder Kita?</h3>
                    <p>
                        Wenn ihr für euer Kind eine wirklich persönliche, familiäre Betreuung sucht
                        – ein Nest, in dem es stark wird für die Welt – dann seid ihr bei uns richtig. 
                    </p>
                </div>
                <Image
                    class="kid-fur"
                    src={kidFurImage}
                    alt="Baby liegt auf seinem Bauch und lächelt mit Finger im Mund"
                    width={320}
                />
            </div>
        </div>
    </WavyBackground>
</section>

<style lang="scss">
    section {
        position: relative;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-wrap: wrap;
        gap: 100px;

        @media (max-width: $sm) {
            gap: 50px;
        }
    }

    .principle {
        font-family: "Dosis", Tahoma, sans-serif;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.8;
        color: rgb(var(--text-color-soft));
        text-align: center;
        margin: 2em 0;
        min-width: 0;
        position: relative;

        strong {
            font-size: min(4rem, 15vw);
            line-height: 1.2;
            color: rgb(var(--accent-color));
        }

        .icon {
            position: absolute;
            color: rgb(var(--accent-color));
            opacity: .75;

            &:nth-child(1) {
                left: -9em;
                top: 80%;
                transform: translateY(-50%) rotate(-20deg);
                color: rgba(var(--flare-orangedark), .45);

                @media (max-width: $sm) {
                    left: -1.5em;
                    top: 50%;
                    opacity: .5;
                }
            }
            &:nth-child(2) {
                right: -5em;
                top: -3em;
                color: rgb(var(--orange-strong));

                @media (max-width: $sm) {
                    right: 0em;
                    top: -40%;
                }
            }
            &:nth-child(3) {
                right: -7em;
                top: 0;
                color: rgba(var(--flare-orange), .7);
            }
        }
    }

    .grid {
        display: flex;
        grid-template-columns: auto auto;
        align-items: flex-end;
        justify-content: center;
        gap: 40px 80px;
        flex-wrap: wrap;

        .kid-fur {
            transform: scale(-1, 1);
            max-width: 100%;
            z-index: 0;
        }

        img {
            min-width: 0;
            height: 100%;
            width: auto;
        }
    }

    .box {
        padding: 3rem;
        background: linear-gradient(to right, rgba(255, 255, 255, .35), rgba(255, 255, 255, .1));
        border-radius: 50px;
        max-width: 400px;
        position: relative;
        overflow: hidden;
        z-index: 1;

        & > :first-child {
            margin-top: 0;
        }

        & > :last-child {
            margin-bottom: 0;
        }

        @media (max-width: $sm) {
            margin-left: calc(var(--page-padding) * -1);
            margin-right: calc(var(--page-padding) * -1);
            padding-left: var(--page-padding);
            padding-right: var(--page-padding);
            border-radius: 0;
            background: none;

            &::before {
                content: "";
                position: absolute;
                top: 1rem;
                width: 70px;
                height: 2px;
                background: rgba(var(--accent-color), .5);
            }
        }
    }

    h3 {
        color: rgb(var(--accent-color));
    }

    .flares {
        @include FlareContainer();

        & > :global(:last-child) {
            opacity: .5;
        }
    }
</style>