---
import { Image } from "astro:assets";
import { Icon } from "astro-icon";
import kidImage from "../../images/kid-corner.jpg";
---

<section>
    <Icon class="map" name="map"/>
    <div class="pill">
        <Image src={kidImage} alt="Junge schaut um Ecke"/>
        <div class="text" data-aos="fade-right">
            <h2><span class="small">Ihr findet mich</span> hier</h2>
            <p>
                Gounodstr. 101<br>
                13088 Berlin<br>
            </p>
            <a href="https://maps.app.goo.gl/QCnyq85KUjarJ3EK7">Öffne Maps</a>
        </div>
    </div>
</section>

<style lang="scss">
    $acceptable-min-width: 660px;

    section {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        position: relative;
    }

    .map {
        max-width: 1000px;
        min-width: 800px;
        translate: 100px 0;
        margin-bottom: 120px;
        z-index: -2;

        @media (max-width: 1200px) and (min-width: $acceptable-min-width + 1) {
            margin-bottom: 250px;
        }

        @media (max-width: $acceptable-min-width) {
            position: absolute;
            top: 0;
            left: 55%;
            translate: -50% 0;
        }

        :global(> :last-child) {
            animation: float 3s infinite ease-in-out;
        }

        @keyframes float {
            from, to {
                translate: 0;
            }
            50% {
                translate: 0 -10px;
            }
        }
    }

    .pill {
        position: absolute;
        left: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        border-radius: 1000px;
        overflow: hidden;
        width: 800px;
        height: 420px;
        max-width: 100%;

        @media (max-width: $acceptable-min-width) {
            position: relative;
            margin-top: 430px;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgb(var(--card-background));
            mix-blend-mode: screen;
            z-index: -1;
            transform: translateZ(0); // fix Safari mix-blend-mode issue
            border-radius: 1000px; // fix Safari mix-blend-mode issue
        }

        h2 {
            color: rgb(var(--accent-color));
            font-size: 6rem;
            margin-top: 0;
            margin-bottom: 3rem;
            
            .small {
                font-size: 1.95rem;
            }
        }
        
        .text {
            margin: 0 auto;
            padding: 20px 80px 20px 0;

            @media (max-width: $acceptable-min-width) {
                padding: 0;
            }
        }

        img {
            max-width: 100%;
            max-height: 100%;
            width: auto;

            @media (max-width: $acceptable-min-width) {
                display: none;
            }
        }
    }
</style>