---
import { getImage } from "astro:assets";
import { Icon } from "astro-icon";
import Flare from '../common/Flare.astro';
import musicImage from "../../icons/music-art.svg";

const optimizedMusicImage = await getImage({ src: musicImage });
---

<section>
    <div class="flares">
        <Flare color="orange" width="1400px" height="1000px" x="70%" y="20%"/>
        <Flare color="yellow" width="1400px" height="1000px" x="30%" y="60%"/>
        <Flare color="orange" width="1400px" height="1000px" x="55%" y="90%"/>
        <Flare color="blue" width="800px" height="500px" x="60%" y="55%"/>
    </div>
    <div class="music-art" style={`background-image: url('${optimizedMusicImage.src}')`}>
    </div>
    <div class="hanging-icon" data-aos="zoom-in-down" data-aos-delay="100">
        <Icon name="music-bird"/>
    </div>
    <div class="text">
        <h2>Musik & <br/>Instrumente</h2>
        <p>Spielerisch beschäftigen wir uns mit Musik, singen viel und experimentieren mit einfachen Musikinstrumenten.</p>
    </div>
</section>

<style lang="scss">
    section {
        display: grid;
        grid-template-areas: "overlay";
        align-items: center;
        position: relative;
        margin-top: calc(var(--section-gap) * -1 + -50px);
    }

    .music-art {
        grid-area: overlay;
        width: min(580px, 55%);
        aspect-ratio: 363 / 382;
        min-width: 300px;
        background-position: right;
        background-repeat: no-repeat;
        margin-left: auto;
        margin-bottom: auto;

        @media (max-width: $xs) {
            width: 90%;
            min-width: 0;
        }
    }

    .hanging-icon {
        scale: .9;
        align-self: flex-start;
        grid-area: overlay;
        transform-origin: top center;
        animation: swing 6s ease-in-out infinite;

        justify-self: flex-end;
        margin-right: 24%;
        translate: 0 min(200px, 50vw);
        width: 180px;
        animation-delay: 2s;
        animation-duration: 5s;
        z-index: -1;

        @keyframes swing {
            from, to {
                rotate: -2deg;
            }
            50% {
                rotate: 2deg;
            }
        }

        @media (max-width: 300px) {
            display: none;
        }
    }

    .text {
        grid-area: overlay;
        justify-self: flex-start;
        max-width: 420px;
        margin-top: 200px;
        margin-left: 15%;

        @media (max-width: $sm) {
            margin-left: 0;
            justify-self: center;
        }

        h2 {
            text-shadow: 2px 2px white;
            color: rgb(var(--accent-color));
        }
    }

    .flares {
        @include FlareContainer();
        opacity: .4;

        @media (max-width: $sm) {
            opacity: .25;

            &:first-child {
                display: none;
            }
        }
    }
</style>
