---
import { Image } from 'astro:assets';
import { Icon } from "astro-icon";
import Flag from "../common/Flag.astro";
import Flare from "../common/Flare.astro";
import jugendamtImage from "../../icons/jugendamt.svg";
---

<section>
    <h2><span class="small">Antrag beim Jugendamt</span>Kosten & Vertrag</h2>
    <div class="content">
        <div class="artwork">
            <div
                class="flares"
                data-aos="fade-in"
                data-aos-anchor=".jugendamt"
                data-aos-delay="200"
                data-aos-duration="1000"
            >
                <Flare color="yellow" width="870px" height="740px" x="75%" y="35%"/>
                <Flare color="orange" width="1020px" height="770px" x="75%" y="65%"/>
            </div>
            <div
                class="background" 
                data-aos="zoom-in"
                data-aos-anchor=".jugendamt">
            </div>
            <div class="jugendamt">
                <Flag class="flag" width="80px" height="60px"/>
                <div class="pole"></div>
                <Image class="building" src={jugendamtImage} alt="Jugendamt"/>
            </div>
        </div>
        <div class="text">
            <h3>Kostenlose Betreuung</h3>
            <p>
                Die Betreuung bei mir erfolgt über 
                das Jugendamt. Sie ist für Eltern 
                kostenlos.
                <br><br>
                Meine Betreuungszeiten sind<br>
                <strong>Mo - Fr</strong> von <strong>8 - 16 Uhr</strong>
                <br><br>
                Bei Interesse, schreibt mir gerne 
                an <a href="mailto:steffis.kruemelkiste@gmail.com">steffis.kruemelkiste@gmail.com</a>
            </p>
            <h3>Antragstellung</h3>
            <p>
                Es wird ein Kitagutschein benötigt.
                Diesen könnt ihr beim Jugendamt 9 bis 
                spätestens 2 Monate vor dem geplanten
                Betreuungsbeginn beantragen.
                <br><br>
                <a href="http://www.berlin.de/jugendamt-pankow/dienste-und-leistungen/kindertagesbetreuung/kita/">Antragsformular Kitagutschein</a>
                <br>
                <a href="https://service.berlin.de/terminvereinbarung/termin/tag.php?termin=1&dienstleister=324903&anliegen%5B%5D=324873">Terminvereinbarung Gutscheinstelle</a>
            </p>
        </div>
    </div>
</section>

<style lang="scss">
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 6rem;
    }

    .artwork {
        display: grid;
        grid-template-areas: "overlay";
        align-items: center;
        position: relative;
        max-width: 100vw;

        @media (min-width: $sm + 1) {
            margin-left: -180px;
        }

        .background {
            grid-area: overlay;
            width: 130vw;
            aspect-ratio: 1 / 1;
            max-width: 615px;
            max-height: 615px;
            background-color: rgb(var(--card-background));
            background-image: linear-gradient(
                to bottom,
                rgb(var(--card-background)),
                rgb(var(--card-background-dark))
            );
            border-radius: 50%;

            @media (min-width: $sm + 1) {
                margin-left: 170px;
            }

            @media (max-width: $sm) {
                position: absolute;
                z-index: -1;
                margin-left: 5vw;
            }
        }
        
        .jugendamt {
            grid-area: overlay;
            display: grid;
            grid-template-areas: "overlay";
            align-items: end;
            height: auto;
            width: 640px;
            max-width: 85vw;
            --pole-height: 300px;
    
            .building {
                grid-area: overlay;
                z-index: 2;
                max-width: 100%;
                height: auto;
            }
    
            .pole {
                grid-area: overlay;
                justify-self: end;
                margin-right: 40px;
                margin-bottom: 2px;
                height: var(--pole-height);
                max-height: 50vw;
                width: 6px;
                background-color: #999999;
                border-radius: 8px;
                position: relative;
                z-index: 1;

                &::before {
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: 3px;
                    left: 6px;
                    background-color: #F2F2F2;
                }

                @media (max-width: $sm) {
                    transform-origin: bottom left;
                    scale: .65;
                    margin-right: 30px;
                }
            }
    
            .flag {
                grid-area: overlay;
                justify-self: end;
                margin-right: 40px;
                margin-bottom: var(--pole-height);
                translate: 100% 100%;

                @media (max-width: $sm) {
                    transform-origin: bottom left;
                    scale: .65;
                    margin-right: 30px;
                    margin-bottom: calc(33vw + 20px);
                }
            }
        }

        .flares {
            @include FlareContainer();
            z-index: -3;
        }
    }

    .small {
        color: rgb(var(--accent-color));
    }

    h2 {
        margin-bottom: 6rem;
    }

    h3 {
        color: rgb(var(--accent-color));
        text-transform: uppercase;
        margin-top: 4rem;
    }

    .text {

        :first-child {
            margin-top: 0;
        }
        :last-child {
            margin-bottom: 0;
        }

        @media (min-width: $sm + 1) {
            max-width: 400px;
            padding: 0 60px;
            margin-left: 60px;
            background: white;
            border-image: linear-gradient(
                to bottom,
                rgb(var(--card-background)),
                rgb(var(--card-background-dark))
            ) 1;
            border-left-style: solid;
            border-left-width: 2px;
        }
    }
</style>