---
import ImageText from '../common/ImageText.astro';
import TitleImage from '../common/TitleImage.astro';

const baseUrl = import.meta.env.BASE_URL;
const textBackgroundImageUrl = `url(${baseUrl}/title-bg.jpg)`.replace("//", "/");
---

<section>
    <div class="text">
        <h1>
            <ImageText>
                Steffis<br>Krümelkiste
            </ImageText>
        </h1>
        <p class="subtitle">Liebevolle Kindertagespflege in Weißensee</p>
        <p>
            Ich bin Steffi Rühl – gelernte Kinderkrankenschwester.
            Ich betreue insgesamt fünf Kinder, die bei mir Halt 
            und Geborgenheit in einem geregelten und dennoch 
            abwechslungsreichen Tagesablauf finden.
        </p>
        <a class="button" href="#kontakt">Kontakt</a>
    </div>
    <TitleImage/>
</section>

<style lang="scss" define:vars={{ textBackgroundImageUrl }}>
    section {
        display: flex;
        position: relative;
    }

    .subtitle {
        font-size: 1.4rem;
    }

    p {
        background: linear-gradient(to right, rgb(var(--text-color)), rgb(var(--text-color-strong)));
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .button {
        display: inline-block;
        background: linear-gradient(
            to right,
            rgba(var(--orange-strong), 0.6),
            rgba(var(--orange), 0.7)
        );
        color: white;
        margin-top: 1em;
        text-decoration: none;
        font-family: "Dosis", "sans-serif";
        font-size: 1.3rem;
        font-weight: 600;
        border: none;
        padding: .6em 2em;
        border-radius: 2em;
        cursor: pointer;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 1em;
            background: rgb(var(--orange));
            z-index: -1;
            filter: blur(20px);
            opacity: 0;
            transition: opacity .3s ease;
        }

        &:hover {
            &::before {
                opacity: 1;
            }
        }
    }
</style>
