---
import ImageText from '../common/ImageText.astro';
import TitleImage from '../common/TitleImage.astro';

const baseUrl = import.meta.env.BASE_URL;
const textBackgroundImageUrl = `url(${baseUrl}/title-bg.jpg)`.replace("//", "/");
---

<section>
    <h1
        data-aos="fade-left"
        data-aos-duration="700"
    >
        <ImageText>
            Steffis<br>Krümel&shy;kiste
        </ImageText>
    </h1>
    <TitleImage class="title-image"/>
    <div
        class="description"
        data-aos="fade-left"
        data-aos-duration="700"
        data-aos-delay="100"
    >
        <p class="subtitle">Liebevolle Kindertagespflege in Weißensee</p>
        <p>
            Ich bin Steffi Rühl – gelernte Kinderkrankenschwester.
            Ich betreue insgesamt fünf Kinder, die bei mir Halt 
            und Geborgenheit in einem geregelten und dennoch 
            abwechslungsreichen Tagesablauf finden.
        </p>
        <a class="button" href="#kontakt">Kontakt</a>
    </div>
</section>

<style lang="scss" define:vars={{ textBackgroundImageUrl }}>
    section {
        display: grid;
        grid-template-columns: auto minmax(500px, auto);
        justify-content: space-between;
        justify-items: flex-start;
        align-items: center;
        row-gap: 2rem;
        position: relative;

        @media (max-width: 860px) {
            grid-template-columns: 1fr;
            justify-content: center;
            row-gap: 4rem;
        }

        @media (min-width: 860px + 1px) {
            grid-auto-rows: 1fr;
        }
    }

    .title-image {
        grid-row: span 2;

        @media (max-width: 860px) {
            order: 3;
        }
    }

    .description {
        align-self: flex-start;
    }

    .subtitle {
        font-size: 1.2rem;
        margin-top: 0;
    }

    h1 {
        align-self: flex-end;
        margin-bottom: 0;

        @media (min-width: 860px + 1px) {
            margin-bottom: 4rem;
        }
    }

    p {
        background: linear-gradient(to right, rgb(var(--text-color)), rgb(var(--text-color-strong)));
        background-clip: text;
        -webkit-text-fill-color: transparent;
        max-width: 36rem;
    }

    .button {
        display: inline-block;
        background: linear-gradient(
            to right,
            rgba(var(--orange-strong), 0.6),
            rgba(var(--orange), 0.7)
        );
        color: white;
        margin-top: 1em;
        text-decoration: none;
        font-family: "Dosis", "sans-serif";
        font-size: 1.1rem;
        font-weight: 600;
        border: none;
        padding: .6em 2em;
        border-radius: 2em;
        cursor: pointer;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 1em;
            background: rgb(var(--orange));
            z-index: -1;
            filter: blur(20px);
            opacity: 0;
            transition: opacity .3s ease;
        }

        &:hover {
            &::before {
                opacity: 1;
            }
        }
    }
</style>
