---
import Layout from '../layouts/Layout.astro';
import Title from '../components/sections/Title.astro';
import AboutMe from '../components/sections/AboutMe.astro';
import Footer from '../components/sections/Footer.astro';
import Contact from '../components/sections/Contact.astro';
import Cooking from '../components/sections/Cooking.astro';
import Location from '../components/sections/Location.astro';
import Pricing from '../components/sections/Pricing.astro';
import Activities from '../components/sections/Activities.astro';
import Intro from '../components/sections/Intro.astro';
import Schedule from '../components/sections/Schedule.astro';
import Music from '../components/sections/Music.astro';
import TitleBlur from '../components/common/TitleBlur.astro';
---

<Layout title="Steffis Krümelkiste">
	<main>
		<TitleBlur/>
		<Title/>
		<Intro/>
		<!-- <AboutMe/> -->
		<Music/>
		<Cooking/>
		<Activities/>
		<Schedule/>
		<Pricing/>
		<Location/>
		<Contact/>
	</main>
	<Footer/>
</Layout>
