---
interface Props {
	color: "orange" | "yellow" | "blue";
	width: string;
	height: string;
	x?: string;
	y?: string;
}

const { color, width, height, x, y } = Astro.props;
---

<div class:list={["flair", color]}></div>

<style define:vars={{ width, height, y, x }}>
	.flair {
		position: absolute;
		z-index: -1;
		width: var(--width);
		height: var(--height);
		left: var(--x);
		top: var(--y);
		transform: translate(-50%, -50%);
		transform-origin: center;
	}
	.orange {
		background: radial-gradient(
			rgba(var(--flare-orange),0.4),
			rgba(var(--flare-orange),0) 50%
		);
	}
	.yellow {
		background: radial-gradient(
			rgba(var(--flare-yellow),0.4),
			rgba(var(--flare-yellow),0) 50%
		);
	}
	.blue {
		background: radial-gradient(
			rgba(var(--flare-blue),0.4),
			rgba(var(--flare-blue),0) 50%
		);
	}
</style>
