---
interface Props {
	color: "orange" | "yellow" | "blue";
	width: string;
	height: string;
	y?: string;
	x?: string;
}

const { color, width, height, y, x } = Astro.props;
---

<div class:list={["flair", color]}></div>

<style define:vars={{ width, height, y, x }}>
	.flair {
		z-index: -1;
		width: 1px;
		height: 1px;
		transform: scale(var(--width), var(--height)) translate(var(--x), var(--y));
		transform-origin: center;
	}
	.orange {
		background: radial-gradient(
			rgba(var(--flare-orange),0.4),
			rgba(var(--flare-orange),0) 50%
		);
	}
	.yellow {
		background: radial-gradient(
			rgba(var(--flare-yellow),0.4),
			rgba(var(--flare-yellow),0) 50%
		);
	}
	.blue {
		background: radial-gradient(
			rgba(var(--flare-blue),0.4),
			rgba(var(--flare-blue),0) 50%
		);
	}
</style>
