---
import { Image } from "astro:assets";
import waveBackgroundImage from "../../icons/title-wave.svg";
---

<div
    class="container"
    data-aos="fade-in"
    data-aos-duration="2000"
    data-aos-delay="0"
>
    <div class="wave-background">
        <Image src={waveBackgroundImage} alt="" width={1920 * 2} loading="eager"/>
        <Image src={waveBackgroundImage} alt="" width={1920 * 2} loading="eager"/>
    </div>
</div>

<style lang="scss">
    .container {
        position: absolute;
        inset: 0;
        left: -140px;
        overflow: hidden;
    }

    .wave-background {
        margin-top: -100px;
        width: calc(1920px * 4);
        filter: blur(140px);
        display: flex;
        animation: move 15s linear infinite;

        @media (max-width: $sm) {
            opacity: .5;
        }

        img {
            height: 500px;
        }
    }
        
    @keyframes move {
        from {
            transform: translateX(0);
        }
        to { 
            transform: translateX(-50%);
        }
    }
</style>