---
import '@fontsource/dosis';
import '@fontsource/varela-round';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="de">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Liebevolle Kindertagespflege in Weißensee" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="favicon.svg" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#c1666b" />
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="theme-color" content="#ffffff">
		<meta name="generator" content={Astro.generator} />
		<meta name="google-site-verification" content="WfJ9jVoMGuDhtkvukAGCDcZAyz1u8LdrXVqbNGoHHH8" />
		<title>{title}</title>
		<script
			data-goatcounter="https://steffis-kruemelkiste.goatcounter.com/count"
        	async src="//gc.zgo.at/count.js">
		</script>
	</head>
	<body>
		<slot />
		<script>
			// @ts-ignore
			import AOS from 'aos';
			import 'aos/dist/aos.css';

			AOS.init();
		</script>
	</body>
</html>

<style lang="scss" is:global>
	:root {
		--text-color: 87, 108, 115;
		--text-color-strong: 38, 70, 83;
		--text-color-soft: 170, 128, 122;
		--link-color: 33, 131, 117;
		--accent-color: 193, 102, 107;
		--accent-color-alt: 42, 157, 143;
		--card-background: 240, 229, 216;
		--card-background-dark: 228, 208, 185;
		--card-background-alt: 253, 237, 206;
		--card-background-accent: 254, 223, 205;
		--card-background-accent-alt: 245, 235, 214;
		--flare-orange: 244, 162, 97;
		--flare-yellow: 233, 196, 106;
		--flare-blue: 42, 157, 143;
		--orange: 247, 190, 144;
		--orange-strong: 240, 169, 150;
		--footer-background: #F7EFE7;
		--content-max-width: 1280px;
		--page-padding: 2rem;
		--section-gap: 10rem;

		@media (max-width: $sm) {
			--section-gap: 6rem;
		}
	}
	html {
		font-family: "Varela Round", sans-serif;
		color: rgb(var(--text-color));
		scroll-behavior: smooth;
		font-size: 18px;
		line-height: 1.5;

		@media (max-width: $sm) {
			font-size: 16px;
		}
	}
	html,
	body {
		max-width: 100%;
		overflow-x: hidden;
	}
	body {
		margin: 0;
	}
	h1 {
		font-family: "Dosis", Tahoma, sans-serif;
		font-size: min(5rem, 14vw);
		font-weight: 400;
		line-height: 1;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		margin-bottom: 1em;
	}
	h2 {
		font-family: "Dosis", Tahoma, sans-serif;
		font-size: 3.5rem;
		font-weight: 400;
		line-height: 1;
        text-transform: uppercase;
		hyphens: auto;

		@media (max-width: $sm) {
			font-size: 2.5rem;
		}
	}
	h3 {
		font-family: "Dosis", Tahoma, sans-serif;
		font-size: 2rem;
		font-weight: 400;
		line-height: 1;
		hyphens: auto;

		@media (max-width: $sm) {
			font-size: 1.8rem;
		}
	}
	h2,
	h3 {
		.small {
			font-size: .4em;
			display: block;
			text-transform: none;

			@media (max-width: $sm) {
				font-size: .5em;
			}
		}
	}
	p {
		font-family: "Varela Round", sans-serif;

		@media (max-width: 380px) {
			hyphens: auto;
		}
	}
	a {
		color: rgb(var(--link-color));
		text-decoration: none;
		
		&:hover {
			text-decoration: underline;
		}

		&[href^="http"]::before,
		&[href^="https://"]::before
		{
			content: "";
			background-color: rgb(var(--link-color));
			mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' stroke='currentColor' fill='none' stroke-width='10' stroke-dashoffset='0' stroke-dasharray='0' stroke-linecap='round' stroke-linejoin='round' viewBox='0 0 100 100'%3E%3Cpolyline fill='none' points='40 20 20 20 20 90 80 90 80 60'/%3E%3Cpolyline fill='none' points='60 10 90 10 90 40'/%3E%3Cline fill='none' x1='89' y1='11' x2='50' y2='50' /%3E%3C/svg%3E");
			width: .8em;
			height: .8em;
			margin-right: .3em;
			display: inline-block;
		}
	}
	blockquote,
	figcaption {
		font-family: "Dosis", Tahoma, sans-serif;
	}
	main,
	footer {
		margin: auto;
		width: var(--content-max-width);
		max-width: calc(100% - var(--page-padding));
	}
	main {
		display: flex;
		flex-direction: column;
		gap: var(--section-gap);
		margin-top: 2rem;

		@media (min-width: 1200px) {
			margin-top: 10rem;
		}
	}

	.button {
		display: inline-block;
		background: linear-gradient(
			to right,
			rgb(var(--orange-strong)),
			rgb(var(--orange))
		);
		border: 1px solid rgba(255, 255, 255, .5);
		color: white;
		margin-top: 1em;
		text-decoration: none;
		font-family: "Dosis", "sans-serif";
		font-size: 1.1rem;
		font-weight: 600;
		letter-spacing: 1px;
		padding: .6em 2em;
		border-radius: 2em;
		cursor: pointer;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 1em;
			background: rgb(var(--orange));
			z-index: -1;
			filter: blur(20px);
			opacity: 0;
			transition: opacity .3s ease;
		}

		&:hover {
			&::before {
				opacity: 1;
			}
		}
	}
</style>
