---
import '@fontsource/dosis';
import '@fontsource/varela-round';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Liebevolle Kindertagespflege in Weißensee" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--text-color: #6A7E85;
		--text-color-strong: #264653;
		--accent-color: 193, 102, 107;
		--accent-color-alt: 42, 157, 143;
		--card-background: 240, 229, 216;
		--card-background-alt: 253, 237, 206;
		--card-background-accent: 254, 223, 205;
		--card-background-accent-alt: 245, 235, 214;
		--flare-orange: 244, 162, 97;
		--flare-yellow: 233, 196, 106;
		--flare-blue: 42, 157, 143;
		--orange: 244, 162, 97;
		--orange-strong: 231, 111, 81;
		--footer-background: #F7EFE7;
	}
	html {
		font-family: "Varela Round", sans-serif;
		color: var(--text-color);
		background: white;
		background: linear-gradient(
			180deg, 
			rgba(252,188,152,0.25),
			white
		);
		background-attachment: fixed;
		overflow-x: hidden;
	}
	h1 {
		font-family: "Dosis", sans-serif;
		font-size: 6.5rem;
		font-weight: 400;
		line-height: 1;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		margin-bottom: 1em;
	}
	h2 {
		font-family: "Dosis", sans-serif;
		font-size: 4rem;
		font-weight: 400;
		line-height: 1;
	}
	h3 {
		font-family: "Dosis", sans-serif;
		font-size: 2.5rem;
		font-weight: 400;
		line-height: 1;
	}
	h2,
	h3 {
		.small {
			font-size: .4em;
			display: block;
			text-transform: none;
		}
	}
	p {
		font-family: "Varela Round", sans-serif;
	}
	a {
		color: rgb(var(--accent-color-alt));
		text-decoration: none;
		
		&:hover {
			text-decoration: underline;
		}
	}
	blockquote,
	figcaption {
		font-family: "Dosis", sans-serif;
	}
	main,
	footer {
		margin: auto;
		width: 1280px;
		max-width: calc(100% - 2rem);
	}
	main {
		font-size: 18px;
		line-height: 1.4;
		display: flex;
		flex-direction: column;
		gap: 10rem;
	}
	section {
		margin-top: 10rem;
	}
</style>
